<div class="directive">
  <div>
    <h2>Página de prueba de la directiva LimitClicks</h2>
    <p>
      Esta directiva añade la clase "limit-reached" al componente afectado con lo que se pueden cambiar los estilos del
      disabled desde aqui.
    </p>
    <p class="mb-4">
      De igual forma tiene un &commat;Output "disabledState" por si el elemento afectado tiene la propiedad disabled
      como un botón
    </p>
    <p>Haz clic en el botón para probar la directiva. El botón se desactivará después de 3 clics.</p>

    <div class="mb-5">
      <button
        m-button
        type="button"
        size="small"
        [appLimitClicks]="3"
        (disabledState)="onDisabledStateChanged($event)"
        [disabled]="isButtonDisabled()">
        Haz clic aquí
      </button>

      @if (isButtonDisabled()) {
        <p class="limit-message">Se ha alcanzado el límite de clics.</p>
      }
    </div>

    <div [appLimitClicks]="3" class="div">Haz clic aquí también</div>
  </div>
</div>
