<div>
  <h2>Página de prueba del formulario</h2>
  <form autocomplete="off" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <m-form-field [label]="'Nombre del Evaluador'" [hiddenHint]="true">
        <input m-input formControlName="nombreEvaluador" />
      </m-form-field>
    </div>

    <div>
      <m-form-field [label]="'Email'">
        <input m-input formControlName="email" type="email" />
        @if (form.get('email')?.invalid && form.get('email')?.touched) {
          <m-error>
            {{ form.get('email')?.errors?.email ? 'Formato de email inválido.' : 'Este campo es obligatorio.' }}
          </m-error>
        }
      </m-form-field>
    </div>

    <div>
      <m-form-field [label]="'Área Evaluada'">
        <m-select formControlName="areaEvaluada" [options]="areasOptions"> </m-select>
        @if (form.get('areaEvaluada')?.invalid && form.get('areaEvaluada')?.touched) {
          <m-error> Este campo es obligatorio. </m-error>
        }
      </m-form-field>
    </div>

    <div>
      <m-form-field [label]="'Puntuación'">
        <input m-input formControlName="puntuacion" type="number" min="1" max="5" />
        @if (form.get('puntuacion')?.invalid && form.get('puntuacion')?.touched) {
          <m-error>
            {{
              form.get('puntuacion')?.errors?.min || form.get('puntuacion')?.errors?.max
                ? 'Debe ser un número entre 1 y 5.'
                : 'Este campo es obligatorio.'
            }}
          </m-error>
        }
      </m-form-field>
    </div>

    <div>
      <m-form-field [label]="'Comentario'">
        <textarea m-input formControlName="comentario"></textarea>
        @if (form.get('comentario')?.invalid && form.get('comentario')?.touched) {
          <m-error> Este campo es obligatorio cuando la puntuación es 1 o 2. </m-error>
        }
      </m-form-field>
    </div>

    <div>
      <button type="submit" [disabled]="form.invalid">Enviar</button>
    </div>
  </form>

  @if (form.valid) {
    <div class="mt-1">
      <h3>Resumen:</h3>
      <p><strong>Nombre del Evaluador:</strong> {{ form.value.nombreEvaluador }}</p>
      <p><strong>Email:</strong> {{ form.value.email }}</p>
      <p><strong>Área Evaluada:</strong> {{ form.value.areaEvaluada }}</p>
      <p><strong>Puntuación:</strong> {{ form.value.puntuacion | softSkillLevel }}</p>
      <p><strong>Comentario:</strong> {{ form.value.comentario }}</p>
    </div>
  }

  <app-navigation />
</div>
